@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

html,body{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    font-family: "Poetsen One", sans-serif;
}
.heading{
    font-size: 4rem;
    margin: 2vh 0;
}
.sub-heading{
    font-size: 1.5rem;
}
h3{
    margin: 0;
    font-weight: 100;
    font-size: 1.5rem;
}
.auth{
    width: 30vw;
    border: 3px solid rgb(7, 62, 145);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 4vh;
    background-color: rgba(155, 153, 153, 0.348);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.input{
    border: none;
    height: 6vh;
    width: 18vw;
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 1.5vw;
}
.auth-btn{
    height: 6vh;
    width: 8vw;
    border: none;
    border-radius: 10px;
    background-color: rgb(41, 130, 185);
    color: white;
    font-family: "Poetsen One";
    font-weight: 100;
    cursor: pointer;
}
.auth-btn:hover{
    transform: scale(1.04);
    transition: 0.7s ease;
}
.auth-btn2{
    border: none;
    font-family: "Poetsen One";
    font-weight: 100;
    background-color: rgba(219, 216, 216, 0.348);
    cursor: pointer;
}
.auth-error{
    margin: 0;
}

.dealer-container{
    margin: 4vh;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    left: 25%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    background-color: rgb(173, 215, 228);
    border-radius: 20px;
    width: 45vw;
    margin: 3vh;
    margin-bottom: 5vh;
    font-family: "Poetsen One", sans-serif;
}
.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}
.nav-right button{
    height: 6vh;
    border: none;
    background-color: rgb(35, 113, 161);
    color: white;
    border-radius: 10px;
    font-family: "Poetsen One";
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(28, 60, 111, 0.904);
}
.nav-header{
    font-size: 1.2rem;
}
h3{
    font-family: "Poetsen One", sans-serif;
}
hr{
    margin-bottom: 3vh;
}
.dealer-body{
    margin-top: 15vh;
}
#popup-1.popup-content{
    padding: 0.5vh;
    border-radius: 20px;
}
.popup-overlay{
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}
.modal{
    margin: 0;
    padding: 2vh;
    background-color: rgb(188, 186, 186);
    border-radius: 15px;
}
form{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
form input, form textarea{
    border: none;
    height: 6vh;
    width: 18vw;
    border-radius: 10px;
    font-size: 1rem;
    padding-left: 1.5vw;
}
.save-btn{
    height: 6vh;
    border: none;
    background-color: rgb(35, 113, 161);
    color: white;
    border-radius: 10px;
    font-family: "Poetsen One";
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(28, 60, 111, 0.904);
}
.form-close-btn{
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.form-heading{
    text-align: center;
}
textarea{
    padding-top: 2vh;
}
.content{
    margin: 0;
    width: 80vw;
    padding: 2vh;
    border-radius: 20px;
    background-color: rgb(217, 214, 214);
}

.dealer-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1vw;
}